﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
</div>
<div>
    <p>This web application is build using following technologies</p>
    <ul>
        <li>ASP.NET CORE MVC</li>
        <li>Entity Framework, Repository Pattern</li>
        <li>SQL Server deployed on AWS RDS</li>
        <li>Application is hosted on AWS Elastic Beanstalk</li>
        <li>Uses Jquery, Bootstrap</li>
    </ul>
</div>
