﻿@model EFCoreBikeStores.Models.Customers;

@{
    ViewData["Title"] = "Details";
}

<h4 class="text-danger">You are now impersonating the user session for following customer. Click clear session to stop impersonting.</h4>
<hr />
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <h5 class="card-header">Profile</h5>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-lg-5">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-lg-7">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-lg-5">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-lg-7">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-lg-5">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-lg-7">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-lg-5">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-lg-7">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-lg-5">
                        @Html.DisplayNameFor(model => model.Street)
                    </dt>
                    <dd class="col-lg-7">
                        @Html.DisplayFor(model => model.Street)
                    </dd>
                    <dt class="col-lg-5">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-lg-7">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-lg-5">
                        @Html.DisplayNameFor(model => model.State)
                    </dt>
                    <dd class="col-lg-7">
                        @Html.DisplayFor(model => model.State)
                    </dd>
                    <dt class="col-lg-5">
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </dt>
                    <dd class="col-lg-7">
                        @Html.DisplayFor(model => model.ZipCode)
                    </dd>
                </dl>
                <div>
                    <a asp-action="stopImpersonate">
                        <button class="btn btn-danger">Stop Impersonating</button>
                    </a>
                    @*<a asp-action="Index">Back to List</a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <h5 class="card-header">Orders</h5>
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    @foreach (var order in Model.Orders)
                    {
                        var shippedDated =  order.ShippedDate.HasValue ? order.ShippedDate.Value.ToShortDateString() : "N/A"; 
                        <div class="card">
                            <div class="card-header bg-info" id="@string.Format("order-header-{0}", order.OrderId)">
                                <h2 class="mb-0">
                                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="@string.Format("#order-content-{0}", order.OrderId)" aria-expanded="true" aria-controls="collapseOne">
                                        Order # @order.OrderId
                                        &nbsp;|&nbsp;
                                        Order Date: @order.OrderDate.ToShortDateString()
                                        &nbsp;|&nbsp;
                                        Status: @order.OrderStatus
                                        &nbsp;|&nbsp;
                                        Delivery Date: @shippedDated
                                        &nbsp;
                                        <i class="fas fa-caret-down"></i>
                                    </button>
                                </h2>
                            </div>

                            <div id="@string.Format("order-content-{0}",order.OrderId)" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Model Year</th>
                                                <th scope="col">Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int i = 1;}
                                            @foreach (var orderItem in order.OrderItems)
                                            {
                                                <tr>
                                                    <th scope="row">@i</th>
                                                    <td>@orderItem.Product.ProductName</td>
                                                    <td>@orderItem.Product.ModelYear</td>
                                                    <td>@orderItem.Quantity</td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>

