﻿@model IQueryable<EFCoreBikeStores.Models.Customers>

@{
    ViewData["Title"] = "Index";
}
    @*<div class="alert alert-light" role="alert">
        Select a customer to continue with this demo app. You can filter, sort the customers in this grid. Once customer is selected, you will able to browse the catalog, create an order and view customer orders.
    </div>*@
<partial name="_ListingTable" />