﻿@model IEnumerable<EFCoreBikeStores.Models.Products>

<div class="row pl-4 pr-4">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 p-2 my-tile">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 pl-2 text-center">
                        <img class="card-img-top w-50" src="~/images/bike1.png" alt="Card image cap">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 pl-2 text-center">
                        <small class="font-weight-bold"> @product.Brand.BrandName</small>
                    </div>
                </div>
                <div class="row pl-4">
                    @product.ProductName
                </div>
                <div class="row">
                    <div class="col-12 pl-4 pb-2">
                        <small class="text-muted text-left"> @product.Category.CategoryName</small><br />
                        $@product.ListPrice
                    </div>
                </div>
            </div>
        </div>
    }
</div>
