﻿@model IQueryable<EFCoreBikeStores.Models.Products>

@{
    ViewData["Title"] = "Index";
}

@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#div1").load("/Products/ListingTiles/1");

            $('#btnListasTiles').click(function () {
                $("#div1").load("/Products/ListingTiles/" + $("#hdnLoadmoreClicks").val());
                $('#btnListasTiles').removeClass("btn-muted").addClass("btn-primary")
                $('#btnListasTable').removeClass("btn-primary").addClass("btn-muted")
                $('#btnLoadmore').toggle();
            })

            $('#btnListasTable').click(function () {
                $("#div1").load("/Products/ListingTable");
                $('#btnListasTable').removeClass("btn-muted").addClass("btn-primary")
                $('#btnListasTiles').removeClass("btn-primary").addClass("btn-muted")
                $('#btnLoadmore').toggle();
            })

            $('#btnLoadmore').click(function () {
                const hdnLoadmore = $("#hdnLoadmoreClicks");
                var loadmoreClicks = hdnLoadmore.val();
                loadmoreClicks++;
                hdnLoadmore.val(loadmoreClicks);
                $("#div1").load("/Products/ListingTiles/"+loadmoreClicks);
                $('#btnListasTiles').removeClass("btn-muted").addClass("btn-primary")
                $('#btnListasTable').removeClass("btn-primary").addClass("btn-muted")
            })


        });
    </script>
}


<div class="panel panel-primary">
    <div class="panel-heading text-right pull-right pr-4 pb-2">
        <button type="button" id="btnListasTiles" class="btn btn-sm btn-primary">
            <i class="fas fa-th"></i>
        </button>
        <button type="button" id="btnListasTable" class="btn btn-sm btn-muted">
            <i class="fas fa-th-list"></i>
        </button>
    </div>

    <div class="panel-body">
        <div id="div1"></div>
        <div class="container">
            <div class="row">
                <div class="col text-center p-4">
                    <input type="hidden" id="hdnLoadmoreClicks" value="1" />
                    <button type="button" id="btnLoadmore" class="btn btn-primary">
                        Load more items...
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>








    @*<partial name="_ListingTable" />
        <partial name="_ListingTiles" />*@
    @*<a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>*@
